/*  your css code here. If applicable */
#body-section{
	background-color: rgb(204, 204, 204);
}
#container1{
	border: 1px solid;
	border-radius: 10px;
}
#container2{
	border: 1px solid;
	height: 420px;
	width: 340px;
	border-radius: 10px;
	padding-top: 10px;
}
h1,h2{
	text-align: center
}
#songs{
	list-style-type: none;
	text-decoration-line: none;
}
.player_one,.player_two{
	background-color: rgb(255, 255, 255);
	padding: 10px ;
	border-radius: 10px;
	margin: 10px;
}